* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --main-color: rgb(29, 29, 29);
  --main-color-: rgb(57, 57, 57);
  --main-color--: rgb(70, 70, 70);
  --main-color---: rgb(100, 100, 100);
  
  --opposite-color: rgb(245, 245, 245);
  --opposite-color-: rgb(225, 225, 225);
  --opposite-color--: rgb(205, 205, 205);

  --special-color: #950e58;
  --special-color-: rgb(85, 9, 50);
}

html {
  font-size: 16px;
  font-size: clamp(16px, 1.125vmax, 28px);
  font-family: Courier, monospace;
}

@media (max-width: 421px) {
  html {
    font-size: 19px;
  }
}


* {
  letter-spacing: -0.05rem;
}

body {
  font-size: 1rem;
  background-color: var(--special-color);
  min-height: 100vh;
  padding-left: 2rem;
}

@media (max-width: 421px) {
  body {
    padding-left: unset;
    border-top: 1rem solid var(--special-color);
    border-bottom: 1rem solid var(--special-color);
  }
}

a {
  color: var(--special-color);
}

a:hover {
  color: var(--special-color-);
  text-decoration: none;
}

body > main {
  padding: 2rem;
  background-color: var(--opposite-color);
  min-height: 100vh;
}

@media (max-width: 421px) {
  body > main {
    padding: 1rem;
  }
}

body > main h1, h2, h3 {
  font-weight: normal;
  margin-bottom: 0.5rem;
}

body > main h1 {
  font-size: 2.85rem;
  letter-spacing: -0.25rem;
  vertical-align: middle;
}

body > main h1 span {
  vertical-align: middle;
}

body > main h1 img {
  height: 2.75rem;
  vertical-align: middle;
}

@media (max-width: 421px) {
  body > main h1 {
    font-size: 2.35rem;
  }

  body > main h1 span {
    display: block;
    margin-top: 0.5rem;
  }
}

body > main h2 {
  font-size: 1.85rem;
  letter-spacing: -0.1rem;
  border-top: 1px solid var(--opposite-color--);
  padding-top: 1rem;
}

@media (max-width: 421px) {
  body > main h2 {
    padding-top: 1rem;
  }
}

body > main section {
  max-width: 82.5ch;
  margin-top: 1rem;
}

body > main p {
  line-height: 1.55rem;
  text-align: left;
  margin-bottom: 1rem;
}

body > main ul {
  list-style-position: inside;
  list-style-type: none;
}

body > main ul.flat li {
  display: inline;
  padding-right: 0.25rem;
}

body > main ul li {
  margin-bottom: 0.5rem;
  line-height: 1.45rem;
}

@media (max-width: 421px) {
  body > main ul:not(.flat) li a {
    text-decoration: none;
    /*font-weight: bold;*/
  }
}