* {
  padding: 0px;
  margin: 0px;
}

:root {
  --main-color: rgb(29, 29, 29);
  --main-color-: rgb(57, 57, 57);
  --main-color--: rgb(70, 70, 70);
  --main-color---: rgb(100, 100, 100);
  
  --opposite-color: rgb(245, 245, 245);
  --opposite-color-: rgb(225, 225, 225);
  --opposite-color--: rgb(205, 205, 205);

  --special-color: rgb(20, 12, 94);
  --special-color-: rgb(10, 6, 47);
}

html {
  font-size: 20px;
  font-size: clamp(18px, 1.35vmax, 32px);
}

body {
  font-family: Garamond, serif;
  font-size: 1rem;

  background-color: var(--main-color);
  color: var(--main-color);

  padding: 0.5rem;
}

a {
  color: var(--special-color);
}

a:hover {
  color: var(--special-color-);
  text-decoration: none;
}

body > main {
  padding: 1rem;
  background-color: var(--opposite-color);
}

@media (max-width: 769px) {
  body > main {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

body > main > img:first-of-type {
  display: block;
  margin: auto;
  margin-bottom: 1rem;
  max-width: 60vw;
  max-height: 62.5vh;
}

body > main h1, h2, h3 {
  font-weight: normal;
  margin-bottom: 0.25rem;
}

body > main h1 {
  font-size: 2.85rem;
  letter-spacing: -0.1rem;
  text-align: center;
}

@media (max-width: 769px) {
  body > main h1 {
    font-size: 2.45rem;
  }
}

body > main h2 {
  font-size: 1.85rem;
  letter-spacing: -0.05rem;
}

@media (max-width: 769px) {
  body > main h2 {
    font-size: 1.55rem;
  }
}

body > main section {
  max-width: 82.5ch;
  margin: auto;
  margin-top: 1rem;
}

body > main p {
  line-height: 1.45rem;
  text-align: left;
}

body > main ul {
  list-style-position: inside;
  list-style-type: none;
}

body > main ul.flat li {
  display: inline;
  padding-right: 0.25rem;
}

body > main ul li {
  margin-bottom: 0.5rem;
  line-height: 1.45rem;
}
